@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

/* 
font-family: 'Inter', sans-serif;
*/

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;

}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Hero banner section */

section {
    padding: 3rem 0;
}

#hero--banner {
    padding: 3rem 0;
    background-size: cover;
    position: relative;
}

h1 {
    text-align: center;
    margin: 0;
    letter-spacing: .3rem;
    font-family: 'raleway';
}

#hero--banner p {
    text-align: center;
    font-weight: 300;
}

/* Navigation Menu */

nav {
    background-color: #181818;
    padding: 2rem 0;
}

nav .flex {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: white;
    list-style: none;
    letter-spacing: 0.1rem;
    font-weight: 1002
}

li + li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Story section */

h2 {
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
}

span {
    margin: 0;
    font-weight: 100;
    letter-spacing: 0;
    font-size: 1.2rem;
}

p {
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: justify;
    padding: 1.5rem 1rem;
}

#story p:nth-child(3){
    margin-bottom: 0;
}

#break1 {
    padding: 0;
}

#break1 .container {
    margin: 0;
    width: 100%;    
}

/* Allies Section */

#allies h2, #enemies h2 {
    letter-spacing: .2rem;
    font-weight: 100;
}


/* 

<section id="allies">
            <h2>Allies</h2>
            <div class="container">
                <div class="grogu">
                    <a href="https://www.starwars.com/databank/grogu" target="_blank"><img src="img/grogu.jpeg" alt="Image of Grogu aka 'The Child' in a forest"></a>
                    <p>Grogu, also known as Baby Yoda, possessed great power in the Force and became a cherished figure in the galaxy. 
                        The Mandalorian was tasked with protecting him, forming a close bond as they faced danger together.
                          <br>
                          <br>
                        His innocence and vulnerability served as a reminder of the importance of compassion and love amidst the turmoil 
                        of war and conflict. He became a symbol of hope, inspiring those around him to seek redemption and forge new paths 
                        forward.</p>
                </div>
                <div class="bobafett">
                    <a href="https://www.starwars.com/databank/boba-fett" target="_blank"><img src="img/bobafett.jpeg" alt="Image of Boba Fett sitting on a throne"></a>
                    <p>Boba Fett was a legendary bounty hunter whose reputation preceded him throughout the galaxy. His sleek armor, 
                        advanced weaponry, and unyielding determination made him one of the most feared and respected individuals in 
                        the criminal underworld.
                          <br>
                          <br>
                        As a clone of the infamous Jango Fett, Boba inherited his father's combat skills and strategic mind, honing them 
                        to perfection in pursuit of his quarry. He became known for his resourcefulness, using every tool at his disposal 
                        to track down and capture his targets.</p>
                </div>
                <div class="caradune">
                    <a href="https://www.starwars.com/databank/cara-dune" target="_blank"><img src="img/Caradune.jpeg" alt="Image of Cara Dune with a smirk on her face"></a>
                    <p>Cara Dune was a skilled warrior and former rebel shock trooper whose exploits in battle earned her a reputation as 
                        one of the toughest fighters in the galaxy. Her combat training and experience proved invaluable as she fought against 
                        the remnants of the Empire alongside the Mandalorian and other allies.
                          <br>
                          <br>
                        But Cara's strength and toughness belied a softer side. She had a deep sense of loyalty and a fierce protectiveness towards 
                        those she cared about, often putting herself in harm's way to defend them.</p>
                </div>
                <div class="greefkarga">
                    <a href="https://www.starwars.com/databank/greef-karga" target="_blank"><img src="img/greefkarga.jpeg" alt="Image of Greef Karga with a serious look"></a>
                    <p>Greef Karga was a charismatic leader and skilled operator of the bounty hunters' guild. His savvy negotiation skills and 
                        ability to maintain order within his organization made him a respected figure in the criminal underworld.
                          <br>
                          <br>
                        Despite his affiliation with unsavory characters, Greef possessed a strong moral compass and a desire to do what was right. 
                        He recognized the threat posed by the Empire and worked with the Mandalorian and other allies to fight against their oppressive 
                        rule.</p>
                </div>
            </div>
        </section>*/