@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

body, html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
    color: white;
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 965px;
    line-height: 58px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.87em;
    box-sizing: border-box;
    margin: 0 auto;
}

.navtop a {
    text-decoration: none;
    color: white;
}

.navtop a:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
}

.navtop li {
    list-style: none;
    font-weight: 400;
}


h3 {
    font-weight: 200;
}

span {
    font-weight: 600;
}

p {
    font-weight: 200;
}

h2 {
    font-weight: 400;
}










footer nav a {
    text-decoration: none;
    color: white;
}

footer nav li {
    list-style: none;
}













