@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

body, html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
    color: white;
}

h3 {
    font-weight: 200;
}

span {
    font-weight: 600;
}

p {
    font-weight: 200;
}

h2 {
    font-weight: 400;
}

/* HEADER ELEMENT */

header {
    position: relative;
    background-color: rgba(0, 0, 0, 1)


}

header img {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

header .mandobanner:hover {
    transform: scale(0.6);
    transition-duration: 1s;
    box-shadow: 0 0 10px rgb(249 249 249 / 50%);
    
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    width: 965px;
    line-height: 58px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.87em;
    box-sizing: border-box;
    margin: 0 auto;
    text-shadow: 0 0 5px #fff;

}

/* TOP NAVIGATION MENU ELEMENT */


.navtop {
    height: 110px;
    background-color: rgb(24, 24, 24);
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 999;
}


.navtop a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.navtop a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.navtop li {
    list-style: none;
    font-weight: 400;
}

.navtop .menubar ul {
    margin: 0;
    padding: 0;
}

.navtop .menubar .li1 {
    position: absolute;
    box-sizing: border-box;
    height: 15px;
    right: 8%;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    letter-spacing: 0.76em;
}

.navtop .menubar .li2 {
    position: absolute;
    box-sizing: border-box;
    height: 15px;
    right: 25%;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    letter-spacing: 0.76em;
}

.navtop .menubar .li3 {
    position: absolute;
    box-sizing: border-box;
    height: 15px;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    color: rgb(212, 212, 212);
    letter-spacing: 0.76em;
}

.navtop .menubar .li4 {
    position: absolute;
    box-sizing: border-box;
    height: 15px;
    left: 25%;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    letter-spacing: 0.76em;
}

.navtop .menubar .li5 {
    position: absolute;
    box-sizing: border-box;
    height: 15px;
    left: 8%;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    letter-spacing: 0.76em;
}

/* STORY SECTION */

.story {
    position: relative;
    background-color: rgb(16, 16, 16);
    height: 426px;
    padding: 30px 0 30px 0;
}

.story .storyheading h3{
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    height: 114px;
    line-height: 20px;
    font-size: 20px;
    top: 50%;
    left: 12%;
    transform: translatey(-50%);
    letter-spacing: 0.05em;
}

.story .storyheading span {
    letter-spacing: 0.14em;
    font-size: 32px;
}

.story .colleft {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
    height: auto;
    width: 418px;
    line-height: 28px;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.14em;
}

.story .colright {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
    height: auto;
    width: 418px;
    line-height: 28px;
    font-size: 16px;
    top: 3em;
    right: 13em;
}

/* N1 STAR-FIGHTER SCROLLING TRANSITION */

.n1trans {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.n1trans img {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    display: block;
}

/* ALLIES SECTION */

.allies {
    position: relative;
    background-color: rgb(16, 16, 16);
    height: 1584px;
    box-sizing: border-box;
}

.alliestitle {
    text-align: center;
    letter-spacing: 0.22em;
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
}



.allies img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    box-shadow: 0 0 10px rgb(249 249 249 / 50%);
}

.allies .img1 {
    height: 296px;
    width: 524px;
    position: absolute;
    left: 7em;
    top: 11em;
    border-radius: 10em 5em 7em 4em;
}


.allies .img2 {
    position: absolute;
    height: 296px;
    width: 524px;
    right: 7em;
    top: 33em;
    border-radius: 15em 5em 7em 8em;
}


.allies .img3 {
    position: absolute;
    height: 296px;
    width: 524px;
    left: 7em;
    top: 55em;
    border-radius: 8em 8em 18em 8em;
}


.allies .img4 {
    position: absolute;
    height: 296px;
    width: 524px;
    right: 7em;
    top: 77em;
    border-radius: 7em 19em 6em 17em;
}

.allies p{
    letter-spacing: 0.17em;

}

.allies .p1{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    position: absolute;
    width: 501px;
    left: 42em;
    top: 161px;
}

.allies .p2{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    position: absolute;
    width: 501px;
    left: 42em;
    top: 32em;
}

.allies .p3{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    position: absolute;
    width: 501px;
    left: 42em;
    top: 54em;
}

.allies .p4{
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    position: absolute;
    width: 501px;
    left: 42em;
    top: 76em;
}



/* 

<div class="allies">
            <h2 class="alliestitle">Allies</h2>
            <img src="#" alt="" class="img1">
            <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in velit metus. Suspendisse eget massa nec arcu 
                ultrices varius vitae ac sapien. Praesent vel tellus turpis. Fusce in magna a risus tincidunt convallis a at sem. Donec 
                imperdiet nibh eget libero fringilla, vel fringilla velit ullamcorper. Proin sem sapien, elementum vel malesuada ac, 
                pulvinar quis neque. Sed vel interdum quam.</p>
            <img src="#" alt="" class="img2">
            <p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in velit metus. Suspendisse eget massa nec arcu 
                ultrices varius vitae ac sapien. Praesent vel tellus turpis. Fusce in magna a risus tincidunt convallis a at sem. Donec 
                imperdiet nibh eget libero fringilla, vel fringilla velit ullamcorper. Proin sem sapien, elementum vel malesuada ac, 
                pulvinar quis neque. Sed vel interdum quam.</p>
            <img src="#" alt="" class="img3">
            <p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in velit metus. Suspendisse eget massa nec arcu 
                ultrices varius vitae ac sapien. Praesent vel tellus turpis. Fusce in magna a risus tincidunt convallis a at sem. Donec 
                imperdiet nibh eget libero fringilla, vel fringilla velit ullamcorper. Proin sem sapien, elementum vel malesuada ac, 
                pulvinar quis neque. Sed vel interdum quam.</p>
            <img src="#" alt="" class="img4">
            <p class="p4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in velit metus. Suspendisse eget massa nec arcu 
                ultrices varius vitae ac sapien. Praesent vel tellus turpis. Fusce in magna a risus tincidunt convallis a at sem. Donec 
                imperdiet nibh eget libero fringilla, vel fringilla velit ullamcorper. Proin sem sapien, elementum vel malesuada ac, 
                pulvinar quis neque. Sed vel interdum quam.</p>
        </div>

*/






/* GROGU SCROLLING TRANSITION */

.grogutrans img {
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    display: block;
}





footer nav a {
    text-decoration: none;
    color: white;
}

footer nav li {
    list-style: none;
}













